<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Leccion Practica 1er parcial</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar (click)="onClick()" expand="block">
        <img alt="Perfil de Usuario" src="assets/img/avatar.png" />
      </ion-avatar>
      <ion-label>Adrian Cedeño</ion-label>
    </ion-col> 
    </ion-row>
  </ion-grid>  
  <ion-button routerLink="/evaluaciones">Evaluaciones</ion-button>
  <ion-button routerLink="/calificaciones">Calificaciones</ion-button> 
</ion-content>